{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "node": "current",
                    "esmodules": true
                },
                "modules": false,
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ]
}