* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    position: relative;
    background-color: #c68a12;
    border: 5px solid #333;
    width: 90vh;
    height: 90vh;
    max-width: 960px;
    max-height: 960px;
    padding: 3.6vh 4.8vh;
    border: 4px solid #333;
}

.board-inner {
    width: 100%;
    height: 100%;
}

line {
    stroke-width: 2;
    stroke: #333;
}

.unit {
    stroke-width: 1;
    fill: white;
    stroke: #333;
}

.copy {
    opacity: 0.6;
}

.score-board {
    margin-left: 10vh;
    width: 40vh;
    border: 4px solid #333;
    border-radius: 10px;
    max-height: 960px;
    height: 90vh;
}

.score-board-header {
    padding: 2em 1em;
    border-bottom: 3px solid #333;
}

.score-board-header p {
    text-align: center;
    font-size: 24px;
}

.score-board-body {
    width: 100%;
    display: flex;
    text-align: center;
    padding: 2em 1em;
}

.score-board-cho, .score-board-han {
    width: 50%;
}

.score-board-cho {
    color: green;
}

.score-board-cho.turn {
    border: 1px solid green;
}

.score-board-han.turn {
    border: 1px solid red;
}

.score-board-han {
    color: red;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0, 0.5);
}

.container {
    transform: translate3d(20%, 20%, 0)
}

.modal-content {
    width: 60%;
    background-color: #ddd;
    border-radius: 10px;
}

.modal-header {
    padding: 2em 1em;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.modal-header-description {
    margin-top: 20px;
    font-size: 18px;
}

.modal-body {
    padding: 1em;
}

.modal-position {

}

.svg-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 2px solid #333;
    border-radius: 10px;
    cursor: pointer;
}

.modal-footer {
    width: 100%;
}

.position-submit {
    width: 100%;
    height: 100%;
    padding: 0.5em 0;
    border-radius: 10px;
    border: none;
    background-color: #c68a12;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.position-submit:disabled {
    background-color: #c68a12;
    opacity: 0.6;
    color: #ccc;
}

.selected {
    background-color: yellow;
}

.toast {
    background-color: #eee;
    border-radius: 15px;
    position: absolute;
    left: 35%;
    top: 35%;
    width : 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}

.win-cho {
    color: green;
}

.win-han {
    color: red;
}