* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

.board {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: #c68a12;
    border: 5px solid #333;
    width: 90vh;
    height: 90vh;
    max-width: 960px;
    max-height: 960px;
    padding: 3.6vh 4.8vh;
    border: 4px solid #333;
}

.board-inner {
    width: 100%;
    height: 100%;
}

line {
    stroke-width: 2;
    stroke: #333;
}

.x:first-child, .y:first-child, .x:last-child, .y:last-child {
    stroke-width: 5;
}

.unit {
    stroke-width: 1;
    fill: white;
    stroke: #333;
}

.copy {
    opacity: 0.6;
}